@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    word-wrap: break-word;
    word-break: break-all;
    box-sizing: content-box;
    
}

header{
    width: 100%;
    min-height: 400px;
    height: 600px;
    
}
.conteiner{
    margin: 0px auto;
    padding-bottom: 28%;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    display: block;
    box-shadow: 0px 0xp 10px 0px #777;
}

.photowrapper{
    position: absolute;
    animation: round 24s infinite;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.photo{
    height: auto;
    width: 100%;
}

.photowrapper img{
    max-height: 600px;
    min-width: 100%;
}

.logo img{
    margin: 30px;
    top: 2%;
    left: -3px;
    position:fixed;
    height: 100px;
    width: 100px;
    z-index: 1000;
   
    

}

.etiqueta{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(225, 0, 79, 0.62);
    height: 80px;
    width: 220px;
    z-index: 1000;
    box-shadow: 1px 1px 12px 2px #000;
    border-radius: 0px 0px 5px 5px;
}

.etiqueta02{
        position: fixed;
        
        bottom: 20px;
        right: 20px;
        background-color: rgba(225, 0, 79, 0.68);
        height: 80px;
        width: 220px;
        z-index: 1000;
        box-shadow: 1px 1px 12px 2px #000;
        border-radius: 0px 0px 5px 5px;
}

.etiqueta02 img{
    
    max-width: 100% ;
    max-height: 100%;
}
/*.etiqueta:hover{
    transform: scale(1,2);
    transition: all;
    transition-delay: 100ms;
    transition-duration: 500ms;
}*/

.etiqueta img{
   
    max-width: 100% ;
    max-height: 100%;
   
}
.etiqueta p{
    display: flex;
    justify-content: center;
    margin: 30px;
}

p.photoDescr{
    position: absolute;
    top: 115px;
    right: -50px;
    background-color: rgba(225, 0, 79, 0.62);
    margin: 10px;
    width: 70%;
    border-radius: 30px;
    padding: 15px;
    font-size: 22px;
    text-shadow: 1px 1px 6px #000;

}

@keyframes round{
    25%{
        opacity: 1;
    }
    40%{
         opacity: 0;
    }
}

.photowrapper:nth-child(1){
    animation-delay: 0s;
}

.photowrapper:nth-child(2){
    animation-delay: 4s;
}

.photowrapper:nth-child(3){
    animation-delay: 8s;
}

.photowrapper:nth-child(4){
    animation-delay: 12s;
}

.photowrapper:nth-child(5){
    animation-delay: 16s;
}

.photowrapper:nth-child(6){
    animation-delay: 20s;
}
